
.navbar {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}

.links {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}
.links li {
  display: inline-block;
}
.links li:not(:last-child) {
  margin-right: 1rem;
}

.userName {
  margin-right: 1rem;
}
