

.table thead tr {
  font-weight: bold;
}
.table td {
  padding-right: 0.5rem;
}

.inviteContainer {
  margin-bottom: 2rem;
}

.inviteForm {
  display: flex;
  flex-direction: row;
}
.inviteForm label,
.inviteForm input,
.inviteForm button {
  margin-right: 0.5rem;
}
